body
{
  background-image: url('gmail.png');
  background-repeat: repeat;
  background-size: cover;
}
h1
{
  color: rgb(169,169,169); 
  text-align: center;
}
h2
{
  color: rgb(169,169,169); 
  text-align: center;
}
h3
{
  color: rgb(169,169,169); 
  text-align: center;
}
h4
{
  color: rgb(169,169,169); 
  text-align: center;
}
img
{
  border: 10px solid black;

}
button
{
  background-color: aqua;
  color: #f44336;

}
